<!--View Information-->
<!--View name : Product List-->
<!--Controller name : productListCtrl-->
<!--Controller path : www/templates/share-application-content/social-share/js/controllers.js-->
<!--State name : app.productList-->
<!--URL : #app/productList-->

<ion-view view-title="Galeri">
    <!--product list section-->
    <ion-nav-buttons side="left">
        <a ng-click="goBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-content id="product-list-content" class="fade-in">


        <div class="row">
            <div class="col">
                <!--pin section-->
                <div class="pin" ng-if="$even" ng-repeat="product in productList"
                     ng-click="">
                    <img ng-src="{{product.img}}"/>



                </div>  <!--end pin section-->
            </div>

            <div class="col">
                <!--pin section-->
                <div class="pin" ng-if="$odd" ng-repeat="product in productList"
                     ng-click="">
                    <img ng-src="{{product.img}}"/>



                </div>  <!--end pin section-->
            </div>
        </div>

        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content><!--end product list section-->

  <!--end button section-->

    <!--loading progress-->
    <div id="product-list-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div><!--end loading progress-->


</ion-view>
